html,
body {
	font-size: 13px;
}
ul, h2, ol  {
	margin: 0;
}
.clearfix:after,
.clearfix:before{
	content: ' ';
	display: table;
}
.clearfix:after{
	clear: both;
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.resume {
	margin: 0 auto;
	/*	border:1px solid rgb(200,200,200); */
	width: 595px;
	height: 842px;
}

.resume-left {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #1c85c6;
}

.resume-right {
	float: right;
	width: 67%;
	height: 100%;
	padding: 80px 20px;
	box-sizing: border-box;
	background-color: #f8f8f8;
}

.resume-right .box h2{
	margin: 5px 0;
}

.resume-head {
	text-align: center;
	color: #fff;
	padding: 50px 0 10px 0;
}

.resume-head>img {
	width: 100px;
}

.resume-left>h2 {
	text-align: center;
	color: #1c85c6;
	padding: 5px 0;
	background-color: #f8f8f8;
	margin: 0;
}

.resume-content {
	padding: 20px;
	color: #FFFFFF;
}

.resume-content > p {
	margin: 10px;
	word-break: break-all;
}

.resume-content > p > a {
	color: #e8c7c3;
	text-decoration: none;
}

.resume-content > p > a:hover {
	text-decoration: underline;
}

.box > .head {
	color: #1C85C6;
	border-bottom: 1px solid #1C85C6;
}

.box > .head > h2 {
	display: inline-block;
}

.box > .head > .icon {
	font-size: 20px;
}

.content-head > span {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	
}

.content-head > span:last-child {
	text-align: right;
}
.info-list {
	margin-bottom: 5px;
}
ol.info-list{
	margin-top: 10px;
}
.info-list > li {
	color: #aaa;
}
/**********************************************************/
/*响应式设计*/
@media screen and (max-width: 600px) {
    .resume {
    	width: 100%;
    }
    .resume-head>img {
    	max-width: 100%;
    }
    .resume-content {
    	padding: 10px;
    }
    .resume-content > p {
    	margin: 10px 0;
    }
}